<div class="headDiv">
    <form #newEntry="ngForm">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th>City</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of  items;let i = index">
                    <td><input [(ngModel)]="item.firstName" name="firstName{{i}}" class="form-control form-control-sm"
                            type="text" /></td>
                    <td><input [(ngModel)]="item.lastName" name="lastName{{i}}" class="form-control form-control-sm"
                            type="text" /></td>
                    <td><input [(ngModel)]="item.contactNo" name="contactNo{{i}}" class="form-control form-control-sm"
                            type="number" pattern="[0-9]{10}" minlength="10" maxlength="10" /></td>
                    <td><select autocomplete="off" class="form-control form-control-sm" name="city{{i}}"
                            [(ngModel)]="item.city">
                            <option></option>
                            <option *ngFor="let city of cities" [value]="city" [matTooltip]="city"
                                [matTooltipPosition]="'after'">
                                {{ city }}
                            </option>
                        </select></td>
                    <td><button type="button" (click)="deleteRecord(item)" class="btn btn-danger"><svg width="1em"
                                height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg></button></td>

                </tr>
            </tbody>
        </table>
        <div class="row col-md-10">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="addDefaultRow()">Add New Record</button>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" (click)="saveData()">Submit</button>
            </div>
        </div>
    </form>
</div>