<div class="headDiv">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of  items;let i = index">
                <td><label>{{item.firstName}}</label></td>
                <td><label>{{item.lastName}}</label></td>
                <td><label>{{item.contactNo}}</label></td>
                <td><label>{{item.city}}</label></td>
            </tr>
        </tbody>
    </table>
</div>